<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Event Scheduler</title>
  </head>
  <body>

    <!-- Navigation Bar -->
    <div class="w3-bar w3-white w3-border-bottom w3-xlarge">
        <a href="#" class="w3-bar-item w3-button w3-text-blue w3-hover-sand"><b><img src="th.jpg" height="30px" width="30px"> ES </b></a>

        <a href="#" class="w3-bar-item w3-button w3-right w3-text-blue w3-hover-sand">Hi, {{ session['username'] }} </a>
    </div>
    <div class="wrapper">
        <div class="left">


            <div class="side_nav">
                <ul>
                    <li class="active"><a href="/dashboard"><i class="far fa-home"></i>My View</a></li>

                    <li><a href="/add_event"><i class="far fa-file-add"></i>Add Event</a></li>

                    <li><a href="/logout"><i class="fas fa-power-off"></i>Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="container">



                            {% if rem %}
                                <h1>{{ rem }}</h1>
                            {% endif %}

                            {% if eventt %}
                                {% for i in eventt: %}

                                            <h1>{{ i[1] }}</h1>
                                            <h3>Date:{{ i[2] }}</h3>

                                            <br /><hr><br />
                                {% endfor %}
                            {% else %}
                                            <h1>No events are added...</h1>
                            {% endif %}








            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.vide.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
  </body>
</html>